[2018-07-11 07:06] peterjaap opened #2 "vat formatter not available for all locales"
Only for;

- at_AT
- bg_BG
- es_ES
- fr_BE
- fr_FR
- it_IT (`vatId`)
- nl_BE
- nl_NL
- pl_PL (`taxpayerIdentificationNumber`)
- zh_TW

For example, running the en_US locale on magento2 platform now gives an error for quote, customer & order groups.

[2018-07-11 07:12] peterjaap opened #3 "Better error throwing/reporting"

[2018-07-11 07:13] peterjaap opened #4 "Create magento1 rule-sets"
Should be fairly the same as magento2

[2018-07-11 07:18] peterjaap opened #5 "Make data random within a set"
When updating a row in a table, and setting the firstname, lastname and email address, all three are completely random. This means the email address does not 'match' the name, for example;

[code]

This is, for Magento, in itself not problematic. The only point where it does not match but it should, is where the order data differs from the quote data, which shouldn't occur in a natural environment

[2018-07-11 07:22] peterjaap opened #6 "Give option to give formatter arguments"
For example;

`randomNumber($nbDigits = NULL, $strict = false) // 79907610`

We should be able to set `$nbDigits` and `$strict` somehow in our yaml definition.

[2018-07-11 08:23] peterjaap opened #8 "EAV support"
Maybe take some inspiration from Divante's implementation; https://github.com/DivanteLtd/anonymizer#how-to-use-anonymizer-with-magento-eav

[2018-07-11 08:27] peterjaap opened #9 "Add option to set fixed values in YAML"
To for example set a field to NULL or some other fixed value.

[2018-07-11 08:30] peterjaap opened #10 "Chunk database retrievals"
To prevent memory limit errors on huge databases

[2018-07-11 08:34] peterjaap commented on #9
Fields to nullify; `customer_prefix`, `customer_suffix`, `customer_middlename`

[2018-07-11 08:40] peterjaap opened #11 "Check if table/column combi exists before running update"
To make it backward compatible with older/newer versions of the specified framework

[2018-07-11 08:43] peterjaap commented on #4
I made a start here; https://github.com/elgentos/masquerade/tree/master/src/config/magento1

Fairly the same, with one big difference; Magento 1 stores much more data in EAV structures than Magento 1. So we need to fix #8 first, before we can finish this.

[2018-07-11 08:57] peterjaap opened #12 "Replace build process with Box"
We now use `phar-composer.phar`, but Box seems like a better solution; https://box-project.github.io/box2/

[2018-07-11 09:02] peterjaap commented on #8
Maybe take some inspiration from Divante's implementation; https://github.com/DivanteLtd/anonymizer#how-to-use-anonymizer-with-magento-eav

[2018-07-11 09:11] peterjaap commented on #10
Chunking using `Illuminate/database` is really easy; https://laravel.com/docs/5.0/queries#selects

[2018-07-11 09:39] peterjaap opened #13 "Create system for custom Faker Providers"
Faker has the option to add our own provider for defined or custom formatters; https://github.com/fzaninotto/Faker#faker-internals-understanding-providers

It would be great to implement some kind of pattern (event? decorator?) to add our own providers by using this.

[2018-07-11 13:29] peterjaap opened #14 "Cool Carbon screenshot which is all the hype now"
![carbon](https://user-images.githubusercontent.com/431360/42574650-30e8d186-851f-11e8-9693-c23b426c43f2.png)

[2018-07-11 13:30] #14 closed

[2018-07-11 14:54] #2 closed

[2018-07-11 15:22] peterjaap commented on #6
Closed by #16

[2018-07-11 15:22] #6 closed

[2018-07-11 15:23] peterjaap commented on #6
For example;

[code]

[2018-07-11 17:35] peterjaap opened #17 "Simplify formatter syntax in yaml"
After closing #6 , the syntax has become a little bit unwieldy;

[code]

A better option would be to also allow this;

[code]

So we can use the simplified syntax when not passing on any arguments to the formatter.

[2018-07-11 18:38] #17 closed

[2018-07-11 19:03] peterjaap commented on #10
Closed with #19

[2018-07-11 19:03] #10 closed

[2018-07-11 19:27] #9 closed, assigned to nobody

[2018-07-11 19:37] peterjaap commented on #9
Another dirtier workaround to nullify values is to specify a non-existent formatter, see https://github.com/elgentos/masquerade/blob/master/src/Elgentos/Masquerade/Console/RunCommand.php#L157

[2018-07-11 19:53] #11 closed

[2018-07-11 20:12] peterjaap commented on #13
WIP: https://github.com/elgentos/masquerade/commit/7718ee72772ea6e7e038c73035bfd6f1630b4385

[2018-07-12 20:01] peterjaap commented on #13
Closed by https://github.com/elgentos/masquerade/pull/21

[2018-07-12 20:01] #13 closed

[2018-07-18 11:45] tdgroot commented on #5
I don't know if there are any plans yet, but with laravel you can consist random data using [Model Factories](https://laravel.com/docs/5.6/seeding#using-model-factories). That might be interesting to use.

[2018-07-18 12:10] peterjaap commented on #5
That might actually be useful. Since we're already pulling in `illluminate/database`, Eloquent's ORM is available in the application.

[2018-07-18 18:46] peterjaap opened #22 "Implement elgentos/parser"
Implement our own configuration file parser [elgentos/parser](https://github.com/elgentos/parser) instead of `hassankhan/config`.

[2018-07-27 08:13] tdgroot opened #23 "Split databases compatibility"
Haven't tried it yet, but I was wondering if it's possible to run on separate dumps from a split database environment?
There would be 3 dumps:
- default
- checkout (quotes)
- sales

In other words, does it rely on all the usual tables being present?

[2018-07-27 17:59] peterjaap commented on #23
We've defined groups so you can add the --group flag to only anon the sales tables for instance. Not sure whether the current splitting in groups matches up with how Magento Commerce splits the databases though.

[2018-07-28 15:40] tdgroot commented on #23
Thanks, I'll see how it works coming weeks.

[2018-07-30 07:47] tdgroot opened #24 "Launch subprocesses to speed things up"
Instead of running everything in the same php thread, it'd be nice if the application runs a subprocess for each table or something like that.

[2018-07-30 09:01] tdgroot opened #25 "Unique customer email addresses not so unique"
Sorry for all the issuing lately.

I'm getting the following error when anonymizing the customer_entity table:
[code]

Even though `email` is set to unique, faker sometimes generates email addresses which have already been used in the same runtime. This probably happens because faker only has so many data that recurrence might happen.

Here are some ideas to fix this issue:
- Regenerate the value

[2018-08-08 05:34] #12 closed

[2018-08-08 05:49] peterjaap commented on #24
What would you propose we use for threading? pthreads is only safe in PHP 7.2+ which will restrict usage to only 7.2, which isn't very widely adopted yet.

Another but hacky way would be to let masquerade call itself through Symfony Process + one of the Parallel Process packages.

[2018-08-08 05:50] peterjaap opened #26 "Calling masquerade without params should give extended help"

[2018-08-08 07:10] peterjaap commented on #25
If Faker does not have enough data points to support all 107551 customer entries in your table, why would it then already encounter this error at 6480? I've done runs with more customers than that and had no issues.

Is this perhaps your second run on the same table?

[2018-08-08 07:10] peterjaap commented on #25
Hmm no that shouldn't happen due to nulling the values before every run; https://github.com/elgentos/masquerade/blob/master/src/config/magento2/customer.yaml#L7

[2018-08-08 07:27] tdgroot commented on #25
I'll try it again with a fresh database when I find the time coming week, just to be sure that isn't the case.

[2018-08-08 19:36] peterjaap opened #27 "Automatically create new release on Github"
On build/push

[2018-08-08 19:40] #26 closed

[2018-08-08 19:43] peterjaap commented on #27
To fetch commit messages since last tag;

`git log $(git describe --tags --abbrev=0)..HEAD --pretty=format:"%h %s"`

[2018-08-08 19:43] peterjaap commented on #27
https://developer.github.com/v3/repos/releases/#create-a-release

[2018-08-08 19:48] peterjaap commented on #3
Not really concrete examples now.

[2018-08-08 19:48] #3 closed

[2018-08-08 20:18] peterjaap commented on #22
This does not look like a good fit.

[2018-08-08 20:39] peterjaap commented on #24
I've done some preliminary work in the [24-subprocesses](https://github.com/elgentos/masquerade/tree/24-subprocesses) branch. See commit https://github.com/elgentos/masquerade/commit/09ce2ac37afc297360b33710e9d4581636daf.

It works, but it immediately outputs the progressbar for every running process, making a mess;

[code]

[2018-08-09 08:46] peterjaap commented on #27
+ maybe auto-update version number in download URL in readme?

[2018-08-09 16:49] tdgroot commented on #24
Cool stuff! It might be better to work with return values in the subprocesses, read them in the master process and create progress bars based on that.

Not sure if that's possible, this is new stuff for me haha.

[2018-08-09 16:50] tdgroot commented on #23
It seems to work fine, it just skips the table if it doesn't exists!

[2018-08-09 16:50] #23 closed

[2018-09-25 14:20] peterjaap opened #28 "Add identify command"
Add identify command to find possible columns to anonimize.

It should;

1. Loop over all tables in a given database
1. Loop over all columns in every table
1. Check if the column is (partly?) named like a formatter that is available (`firstname`, `email`, etc)
1. For every identified column, ask whether a yaml entry should be created in a custom yaml file

[2018-10-03 12:57] #25 closed

[2018-10-04 14:06] #22 closed

[2018-11-28 14:37] danielozano opened #29 "doubt about making new build"
Hi! First of all thank your for this tool!

I'm trying to build a new .phar file following your process but it doesn't seem to work. So I decided just to clone your repo and try to build the same .phar and I found differences between the phar uploaded here and the phar is being created when I use the build process.
 - clone project && composer install
 - download box
 - run build.sh

Being more sp

[2018-11-28 14:45] peterjaap commented on #29
@JeroenBoersma could you get in on this? There was a reason for this change...

[2018-11-28 15:08] danielozano commented on #29
Just as additional info, with the first code you've this path:
`phar:///blablabla/masquerade.phar/src/config/magento2`which is working, and with the second code you get this path: `phar:/blablabla/masquerade.phar/src/config/magento2`

So probably cleaning the slashes `// -> /` is causing this behaviour.

[2018-11-28 16:18] JeroenBoersma commented on #29
Yeah, this was build in the parser to make sure not path traversal was possible, I'll update to leave the double / intact which was just a cleaning, last build of @peterjaap we corrected this manually!

Will update asap and update here with a new release!

[2018-11-28 16:32] JeroenBoersma commented on #29
Please update, should resolve outstanding issues, let me know if it worked: https://github.com/elgentos/parser/releases/tag/2.3.2

[2018-11-29 08:43] danielozano commented on #29
Thanks a lot for the fast response @JeroenBoersma @peterjaap if i've time i'll give it a try and will let you know the result!

[2018-12-03 15:51] danielozano commented on #29
Hi! I've tested this code in elgentos/parser (1.4.2) and it works like a charm
[code]
However I can't upgrade to [2.3.2](https://github.com/elgentos/parser/releases/tag/2.3.2) as suggested because it's not compatible with masquerade. For example it tries to use a class that doesn't exist in the parser library anymore:

After build, try to run `php masquerade.phar --groups --platform magento2`
[cod

[2018-12-04 16:37] JeroenBoersma commented on #29
Please checkout #30 should build without problems against elgentos/parser:2.4.0

[2019-01-04 11:18] danielozano commented on #29
Hi! @JeroenBoersma sorry for the late response! I've tested it today and at a first glance it's working correctly! Thanks alot for your work!

[2019-03-12 14:48] #29 closed

[2019-07-29 12:16] tdgroot commented on #24
FWIW, I wrote a little bash script to make it possible for now:
[code]

[2019-09-23 12:00] jeromecx opened #37 "Installation not working with last release (0.1.10)"
Hello and thank you for sharing the code,

I've tried to install Masquerade by following the instructions described in README.md (line 61) :

[code]
and i received a 404 error.

However, it works with release v 0.1.9

Best regards

[2019-09-24 06:55] peterjaap commented on #37
Thanks for noticing, I've built and uploaded the phar file to the release.

[2019-09-24 06:55] #37 closed

[2019-09-24 07:20] jeromecx commented on #37
thank you @peterjaap

[2019-09-30 18:39] erikhansen commented on #8
As a workaround for now, I am running a manual query to remove the one sensitive EAV attribute I found:

[code]

I found this attribute by reviewing the attribute codes returned from this query:

[code]

On a native Magento Open Source 2.3.2 install (with sample data), the above query won't return any data. However custom extensions frequently add EAV attributes, so you'll want to review this list

[2019-09-30 20:08] erikhansen opened #39 "Custom config files do not seem to be working"
Issue: I followed [the documentation](https://github.com/elgentos/masquerade#customization) surrounding how to add custom config values, but `masquerade` does not seem to find my custom configuration.

My ultimate goal is to completely override the `admin.yaml` file, as I don't want to masquerade any values in the `admin_user` table. But I'm first trying to get `masquerade` to pickup my custom con

[2019-10-01 17:56] peterjaap commented on #39
@erikhansen aaah I guess the docs are wrong. Could you try renaming `admin.yaml` to `config.yaml`? Also see https://github.com/elgentos/masquerade/blob/master/src/Elgentos/Masquerade/Helper/Config.php#L33

[2019-10-01 17:58] peterjaap commented on #39
Hmm no that's the config file, not the rulesets.

[2019-10-01 17:59] peterjaap commented on #39
@erikhansen could you try placing it in `config/magento2/admin.yaml`, the same as the structure in the repo? https://github.com/elgentos/masquerade/blob/master/src/config/magento2/admin.yaml

[2019-10-02 21:47] erikhansen commented on #39
@peterjaap Placing the file in `config/magento2/admin.yaml` worked. Thanks for your help!

I found that if the `admin.yaml` file was empty, nothing happened. However once I placed the below contents in the file, the `masquerade groups` command output no longer included any reference to the `admin` group, which was my desired effect.

[code]

[2019-10-02 21:47] #39 closed

[2019-10-02 21:48] erikhansen commented on #39
I would have offered to update the docs, but you may have an idea in mind about how you want to communicate about the configuration (and whether or not to document how to "undo" a default configuration as I mention above).

[2019-10-03 09:01] peterjaap commented on #39
@erikhansen thanks, for now I just updated the readme :)

[2019-10-06 09:37] peterjaap commented on #8
Here's how another tool does it; https://github.com/mpchadwick/dbanon#magento-2

[2019-10-17 11:24] peterjaap commented on #24
I created a subprocess per group/table combi;

![image](https://user-images.githubusercontent.com/431360/67004841-7bfd0c80-f0e1-11e9-8da6-000772f5527f.png)

[2019-10-17 14:26] peterjaap commented on #24
@tdgroot could you test it?

You can clone the https://github.com/elgentos/masquerade/tree/24-subprocesses branch and run `bin/masquerade` to test it

[2020-04-22 09:08] peterjaap commented on #24
This is a nicer package with some more options; https://github.com/graze/parallel-process

[2020-05-02 12:33] peterjaap opened #47 "Rewrite to use Laravel Zero"
So we can make of all the goodies in there, like self-update.

[2020-11-13 01:30] erfanimani opened #48 "Masquerade (out of the box) doesn't anonymise Paypal payment detail"
I wasn't sure whether this is in scope or not as I'm sure most merchants run third-party payment methods. However, considering that Paypal is shipped with Magento, I probably would have expected this to happen.

[2020-11-13 09:05] peterjaap commented on #48
What tables/columns are those?

[2020-11-13 09:18] peterjaap commented on #48
I wrote the config yml based on what I saw in our clients' databases, and none of our clients use the Paypal option that comes with Magento (it's all through PSPs).

[2020-11-13 13:38] erfanimani commented on #48
Gotcha. I'll investigate which column it is next week. Possibly I can provide a PR myself. From memory however, I think payment information details aren't structured and are stored instead as a json or serialised value.

[2020-11-13 16:26] peterjaap commented on #48
We could add a custom formatter for that; https://github.com/elgentos/masquerade#custom-providers--formatters

[2020-12-29 12:02] johnorourke commented on #8
Just considering this... looking at the two linked approaches:

* both the Divante and dbanon tools have built in logic to parse the Magento EAV structure
* other systems have different structures (Drupal for example has something similar to EAV)

It seems to be there's a more general solution we could use, for example:

* on each table, allow a custom query to select the records (eg. `select * fr

[2020-12-29 14:31] johnorourke commented on #8
Thinking further on this, it would be nice to set locale differently for different sets of values, too:

* Magento example: you might want to set the Faker locale based on the default locale of the website which a customer is attached to
* Drupal example: you might want to set the Faker locale based on the 'language' field in the EAV-style table of field values

[2021-01-04 07:37] johnorourke opened #52 "Add a wiki page for Bitbucket Pipelines usage"
I wrote up our Bitbucket usage here: https://github.com/getjohn/masquerade/wiki/Bitbucket-Pipelines-Usage

Feel free to add it to your wiki :)

[2021-01-04 20:36] johnorourke commented on #8
Working for me now with Magento2.  I've also drafted an example of another table provider (not tested yet) - for Wordpress 'meta' tables: https://github.com/getjohn/masquerade/commit/5581edb64d7f3db38726b2dca42490c48be0a831

[2021-01-06 08:19] peterjaap commented on #52
Thanks, I've added it! https://github.com/elgentos/masquerade/wiki/Usage-with-Bitbucket-Pipelines

[2021-01-06 08:27] #52 closed

[2021-01-21 11:31] mikemountjoy99 opened #56 "I think the latest release might be broken?"
**0.1.13**
wget https://github.com/elgentos/masquerade/releases/download/0.1.13/masquerade.phar

returns 647bytes

**0.1.12**
wget https://github.com/elgentos/masquerade/releases/download/0.1.12/masquerade.phar

returns 3.2MB

This is a terrific tool BTW 🥇

[2021-01-24 07:26] johnorourke commented on #48
@erfanimani what's the use case for anonymising this over deleting it?  (asking because I'm adding 'delete' options so that we can remove old sales data and reduce DB size for our dev environments, so it would be useful to know if there's a reason for keeping it)

[2021-01-24 11:13] erfanimani commented on #48
@johnorourke no reason! Both options would work.

[2021-01-25 09:23] johnorourke opened #57 "0.1.13 - Illuminate 6.20 removes array_get/array_first helpers"
Illuminate v6.20 no longer provides the `array_get` and `array_first` helper functions so the code won't run.

Pull request coming shortly!

[2021-01-26 16:35] peterjaap commented on #56
Yes you're right, thanks for catching that! Will fix asap

[2021-01-26 18:21] #57 closed

[2021-01-26 18:26] peterjaap commented on #8
Thanks to @johnorourke we now have EAV support! :tada: :partying_face:

[2021-01-26 18:26] #8 closed

[2021-01-26 18:30] peterjaap commented on #56
Woops, I grabbed the masquerade file from the bin dir instead of the dist dir!

[2021-01-26 18:30] peterjaap commented on #56
I guess that's why we need #27  :P

[2021-01-26 18:35] peterjaap commented on #56
New release with correct phar file; https://github.com/elgentos/masquerade/releases/tag/0.2.0

[2021-01-26 18:35] #56 closed

[2021-01-26 19:34] johnorourke commented on #8
@peterjaap awesome, thanks so much for testing and merging. Glad I could help :)

[2021-01-26 19:35] peterjaap commented on #4
Closing this since everybody should've migrated to Magento 2 by now.

[2021-01-26 19:35] #4 closed

[2021-01-27 13:29] deedy-tech opened #59 "Error after install"
Hi
I have followed the installation instructions and "Download the phar file:

curl -L -o masquerade.phar https://github.com/elgentos/masquerade/releases/latest/download/masquerade.phar
"

When I then run

php masquerade.phar run --help

I get the error

`PHP Warning:  require(phar:///home/ubuntu/masquerade.phar/vendor/composer/../symfony/translation/Resources/functions.php): failed to open stream

[2021-01-27 15:11] peterjaap commented on #59
Huh you're right. For now, try this version; https://github.com/elgentos/masquerade/releases/download/0.1.12/masquerade.phar

[2021-01-27 15:19] deedy-tech commented on #59
Hi Peter
Thanks for looking at the issue.

I actually found that link to version 0.1.12 by looking at an earlier issue
and I have it installed and kind of got it working.

I am using it on a Magento 2 platform and if I create the  config file

config/magento2/admin.yaml

and put "admin:" in it (as per instructions), when I run Masquerade, I get

._ _  _. _ _.    _ .__. _| _
| | |(_|_>(_||_|(/_|(_|

[2021-01-27 15:20] peterjaap commented on #59
@deedy-tech are you on Magento Commerce? I believe that uses `row_id` instead of `entity_id`, hadn't thought of that (we never use Commerce).

[2021-01-27 16:23] deedy-tech commented on #59
Hi
No, I am currently using Magento CE vs 2.3.3.

For the admin_user table the primary key is user_id.

I tried setting the admin.yaml file to
admin:
  admin_user:
    provider: # this sets options specific to the type of table
    where: "email not like '%@moo.com' OR email not like '%@moo.co.uk'"
    pk: user_id

but got the following

`PHP Notice:  Undefined index: columns in phar:///opt/masque

[2021-01-28 18:22] peterjaap commented on #59
The `where` option has been introduced in version 0.2.0 so the version you're using does not support it.

[2021-01-28 20:31] deedy-tech commented on #59
Ah, thanks for letting me know.

[2021-02-01 14:33] enriquetarazona commented on #59
I´m having same issue trying to run the latest release version. Any update on this?

Thanks

[2021-02-03 10:26] peterjaap commented on #59
Thanks for your reports, I fixed it. You can download 0.2.1 here;

https://github.com/elgentos/masquerade/releases/download/0.2.1/masquerade.phar

[2021-02-03 10:26] #59 closed

[2021-02-03 11:49] uznog opened #61 "Skip if table does not exist"
Hello,

is skipping not existing tables possible? I can see #11 resolved non-existing columns issue, but it would be great not to fail when the specific table isn't present (i.e. with a cmd flag switch?)

[2021-02-03 12:23] peterjaap commented on #61
Should be, see https://github.com/elgentos/masquerade#customization

[2021-02-03 12:44] uznog commented on #61
That's correct, although it will just skip the table. What I'd like to achieve is to have table's anonymization configured in yaml, but used when table exists and skipped otherwise. It would be nice to have one set of configs with any possible tables for anonymization process, as some clients use different modules - schemas differ between various clients' databases.

[2021-02-03 13:17] peterjaap commented on #61
Ok I'm open to PR's :)

[2021-02-07 07:24] peterjaap opened #65 "Best way to share yaml files for extensions?"
Now that we've added a try/catch block we can add YAML definitions for tables that don't necessarily have to be present in an install.

In our projects, we include YAML files for all possible extensions we use. If a project doesn't have that table, it'll just skip it now.

I've put a few of those YAML files in the Wiki, see:
- https://github.com/elgentos/masquerade/wiki/Kiwicommerce-YAML-file
- ht

[2021-02-07 07:26] peterjaap commented on #61
Done in 0.2.4 :)

[2021-02-07 07:26] #61 closed

[2021-02-07 07:26] peterjaap commented on #61
Also see #65, I'd love to hear your thoughts on this.

[2021-02-07 07:28] peterjaap commented on #48
@erfanimani noe that we have the 'delete' option, could you do a PR to add it to the default Magento 2 config?

[2021-02-07 07:29] peterjaap commented on #5
I'd be in favor of doing #47 first, and then introducing model factories :)

[2021-02-07 13:29] uznog commented on #65
The way I tackled this issue before issuing #61 was to code a simple app that would check MySQL database for the tables list and then search base configuration directory for YAMLs that mentioned those tables. Needed YAMLs were then bundled into a separate 'final' directory and Masquerade was run based on that final configuration.

This resolved errors that occured when table didn't exist, as I wer

[2021-02-07 17:30] johnorourke commented on #65
I have some ideas!  I have two criteria for this:

* Optionally throw an exception - for example, we have made promises to be GDPR-complient for corporate clients, so I want to know that missing configs or invalid table names will not fail silently.
* Easy to add in multiple projects
* Easy to add in a docker container - eg. a Bitbucket pipeline or Gitlab CI

I suggest one of these:

* Composer mo

[2021-02-08 13:17] erfanimani commented on #48
That's great, yeah I should be able to create a PR

[2021-02-09 12:56] peterjaap commented on #65
@johnorourke

We could introduce a `--strict-mode` flag to throw an exception on missing configs / missing tables / missing columns. Seems easy enough.

I'd be in favor of the composer repo as well. I'd suggest `elgentos/masquerade-configs`. Then we could add a console command to this repo that can be run with composer's `post-install-cmd` (when the config package is present) to ask which files sh

[2021-02-09 13:19] johnorourke commented on #65
That's a great idea @peterjaap - the single repo would keep them all tidy, easy to fork, allow management of PRs and issues etc, and the post-install-cmd hook would make it really simple to use.

It would need to know the 'platform' config folder the user wants them in - in masquerade core there are several config file locations - perhaps auto-detect to see if any are in use, and/or let the user c

[2021-02-09 14:55] peterjaap commented on #48
@erfanimani I just checked a Magento 2 open source database for Paypal and I found no personal identifiable information columns? We don't use Paypal through Magento's implementation (only through payment service providers) so I don't have real data in any of our projects in these tables so I can't be 100% sure.

[code]

[2021-02-11 07:49] peterjaap commented on #27
https://github.com/semantic-release/semantic-release

[2021-02-25 06:45] erfanimani commented on #48
Thanks for checking @peterjaap.

So I'm talking about this part here:

![Screen Shot 2021-02-25 at 2 32 38 pm](https://user-images.githubusercontent.com/930470/109113022-83710300-7776-11eb-850d-d89104bafed4.png)

It seems it's JSON serialised data stored in `sales_order_payment`/`additional_information`

It seems we can't truncate that table as it'll cause an error `Call to a member function getAd

[2021-02-27 18:32] peterjaap commented on #48
Sounds good, you can do that with the `formatter: fixed` formatter, see an example here: https://github.com/elgentos/masquerade/blob/6bd9f9275b3ce16fa71d22ed5b3d55c43763b2a3/src/config/magento2/customer.yaml#L10

[2021-03-02 10:25] peterjaap opened #67 "Fixed formatter value is always empty"
See https://github.com/elgentos/masquerade/pull/66#issuecomment-787909735

[2021-03-02 10:25] #48 closed

[2021-03-02 16:43] johnorourke commented on #48
@erfanimani thanks :)

[2021-04-26 15:19] Tjitse-E opened #69 "Delete data and anonymize the remaining records"
The idea is that we will delete all of the older customer data (for example, delete customers that have been created more than 30 days ago), so that the DB dump will be a lot smaller + reducing Masquerade execution time. The remaining data should be anonymized so we can use it anymwhere.

Example config:
[code]

Currently, Masquerade just executes the delete, then it moves on to the next table, le

[2021-04-28 09:47] peterjaap opened #70 "delete: true gives errors"
@johnorourke I just ran into this;

[code]

This is the yaml file I'm using; https://github.com/elgentos/masquerade/wiki/Swissup-YAML-file

Any idea?

[2021-04-28 09:53] peterjaap commented on #69
Maybe @johnorourke might have an idea about this, since he built the delete part?

[2021-04-29 15:05] Tjitse-E commented on #70
@peterjaap I also ran into this today. This is because of https://github.com/elgentos/masquerade/blob/master/src/Elgentos/Masquerade/DataProcessor/TableService.php#L53-L56

The delete query will result in:
[code]

 It should be just:
[code]

I don't know if the alias 'main' is actually used in Masquerade, else we could remove it.

[2021-04-29 15:56] Tjitse-E opened #72 "Delete action: array to string conversion"
Example creditmemo.yaml:
[code]

Run: ` php bin/masquerade run --with-integrity`

Result:
[code]

[2021-04-29 17:22] #72 closed

[2021-04-29 20:49] johnorourke commented on #69
@peterjaap The original design for that was "you can either delete or anonymize, not both", but this is a good idea.  We have several possible requirements:

* delete a selection of records
* anonymize a selection of records
* both (perhaps with different 'where' statements)
* none

So for maximum flexibility maybe we need to just allow different 'where' statements for anonymisation and deletion.

[2021-04-29 20:59] johnorourke commented on #70
@peterjaap looks like @Tjitse-E fixed this in #73

[2021-04-30 06:45] peterjaap commented on #70
Thanks all! New release has been tagged https://github.com/elgentos/masquerade/releases/tag/0.3.1

[2021-04-30 06:45] #70 closed

[2021-04-30 06:46] peterjaap commented on #24
The main problem this issue tried to solve was speed, and that was fixed in version 0.3.0. So closing this issue.

[2021-04-30 06:46] #24 closed

[2021-04-30 07:27] Tjitse-E commented on #69
@johnorourke  i'm currently using `delete_where` in our builds (https://github.com/elgentos/masquerade/compare/master...Tjitse-E:feature/partial-delete). The only problem there is that it is not backwards compatible, but this could be solved (if needed) by keeping `where`.

Adding both `delete_where` and `anonymize_where` seems like a good idea.

[2021-04-30 07:47] IvanChepurnyi commented on #69
@johnorourke I like your approach, and if `where` is used for both delete and anonymize it won't break behavior as the anonymization step just will be 0 rows, as those were previously deleted.

[2021-05-31 12:13] charity1475 opened #78 "How to build an entity yaml file?"
After i have created the entity.yaml file and defined the columns to mask how do i build it to get sql?

[2021-06-10 13:30] IanFiretoys opened #79 "PHP Warning: Wrong COM_STMT_PREPARE response size on masquerade run."
hi, lately i'm finding this error on an attempted run of masquerade to anonymise a magento DB for sandboxing.

i have tried this with a few recent db dumps from the last few months, and they all fail, while i've been using it successfully for a year and a half.

results of a verbose run here:

[code]

I have double checked the config.yaml a few times, and it all seems in order. the only results i

[2021-07-20 12:25] sreichel opened #83 ""maximum number of steps is not set." in verbose mode"
After masquerade silently fails i tried verbose mode to get an idea what happens there, but it does not work for `-vv` or `-vvv`

[code]

[2021-07-21 09:18] peterjaap commented on #83
Could you do a PR to add it?

[2021-08-08 19:10] peterjaap opened #84 "Provide PHP 8 support"
See https://github.com/elgentos/parser/issues/7

[2021-09-17 21:28] SAN1TAR1UM commented on #69
Watching this, as I'm also interested in this feature. Until then, is it possible to run masquerade twice with two different configs?

I'm thinking I can run the anon, then export for a full anon backup.
Then come back and run the delete on the same db, then export a thin backup

Only problem is I need two different config file setups for this correct? I guess I could run two different phar's each

[2021-09-19 17:58] johnorourke commented on #69
@SAN1TAR1UM the `--config` parameter (which gives it a directory of config yml files) can be used multiple times, so you can use the same phar but just add an extra set of configs for one of the runs.

[2021-09-22 14:11] #83 closed

[2021-09-23 08:31] bad opened #87 "download of masquerade.phar broken after 0.3.5 releae"
Thanks for the quick release yesterday.

Alas, downloading https://github.com/elgentos/masquerade/releases/latest/download/masquerade.phar
no longer works.

Actually, it would be nice if one could download the phar for a tagged release.  E.g. https://github.com/elgentos/masquerade/releases/0.3.5/download/masquerade.phar or something like that.

[2021-09-23 08:36] peterjaap commented on #87
@bad thanks for notifying, apparently I clicked submit too quick yesterday.

The latest link you posted works again.

There are downloads per tagged release, this is the latest one; https://github.com/elgentos/masquerade/releases/download/0.3.5/masquerade.phar

[2021-09-23 08:36] #87 closed

[2021-09-23 09:12] bad commented on #87
On Thu, Sep 23, 2021 at 01:36:50AM -0700, Peter Jaap Blaakmeer wrote:

Ah, I see.  masquerade.phar is missing in the assets for the 0.3.4 release
and I forgot to expand the assets for the earlier releases.

No worries.
--chris

[2021-11-27 11:18] peterjaap commented on #84
Done, tagged 1.0.0 :partying_face:

[2021-11-27 11:18] #84 closed

[2021-11-27 11:20] peterjaap commented on #27
Or use Github Actions?

[2021-11-27 11:20] #27 closed

[2021-11-27 11:23] peterjaap commented on #65
Trying to move this to Discussions but can't find the option? https://docs.github.com/en/discussions/managing-discussions-for-your-community/managing-discussions-in-your-repository#converting-issues-based-on-labels

[2021-11-27 11:24] peterjaap commented on #78
Closing due to inactivity.

[2021-11-27 11:24] #78 closed

[2021-11-28 13:20] peterjaap opened #89 "Shopware 6 anonimization does not anonimize"
But for some reason it duplicates the to-be-anonimized record and anonimizes that one. Maybe because of the binary UUID's?

[2021-11-28 13:26] peterjaap commented on #89
`order` and `order_address` table seems to contain multiple records with the same `id` ?

[2021-11-28 13:40] peterjaap commented on #89
I guess the problem stems from here, where MySQL doesn't recognize it as an existing row and inserts a new one; https://github.com/elgentos/masquerade/blob/master/src/Elgentos/Masquerade/DataProcessor/TableService.php#L378

[2021-11-28 13:41] peterjaap commented on #89
Probably because the table has two primary keys and Masquerade identifies the wrong one;

[code]

[2021-11-28 14:17] peterjaap commented on #89
This problem occurs because Masquerade at this point assumes a table only has one primary key. @IvanChepurnyi any idea how to allow for multiple PK's?

[2021-12-01 14:06] julienanquetil opened #90 "Configuration ignored or wrong usage on my side"
Hi,

I try to anonymize the customer entity except several domain

So i create a yaml file under

src/config/magento2/customer.yaml

in my yaml file i try first with only one domain to be sure everything is working as expected like

[code]

I run my command like that :

`./masquerade.phar run --group=customer --platform=magento2 --config=src/config/magento2/`

but all customer entities are "rewrit

[2021-12-01 14:12] peterjaap commented on #90
@johnorourke might be of help, he wrote the partial anonymization stuff :)

[2021-12-01 14:36] julienanquetil commented on #90
To enrich this issue i try to run it not from the Phar one, but from source (like cloning repo / composer install)

I override the default customer yaml file (and reduce scope for testing)

[code]

and everything is working as expected.
So i assuming the phar one didn't read the custom configuration ?

Thanks

[2021-12-01 14:47] peterjaap commented on #90
This line should take care of loading config files from the `config` dir when using the phar; https://github.com/elgentos/masquerade/blob/bfea992bc1814fe33ced3c736db9eaf45896b67b/src/Elgentos/Masquerade/Helper/Config.php#L13

But I now realize it only works when the phar is in the same dir as the `config` dir. If you run the phar from let's say `/usr/local/bin`, it'll look for configs in `/usrloca

[2021-12-02 12:45] johnorourke commented on #90
@julienanquetil the config path you specify should not include the platform name - eg. in your path `src/config/magento2/customer.yaml`, magento2 is the platform, and will automatically be appended to the config path.

Try `--config=src/config`

[2021-12-02 13:05] julienanquetil commented on #90
My bad @johnorourke  !
now it's working like that.... 100% my fault on that one :)

[2021-12-02 13:05] #90 closed

[2021-12-02 21:27] peterjaap commented on #90
@julienanquetil oh wow I missed that too! Good to see it solved :muscle:

[2021-12-07 13:03] peterjaap opened #91 "Update Faker with new FakerPHP lib"
https://github.com/FakerPHP/Faker/releases/tag/v1.17.0

[2021-12-11 07:09] peterjaap commented on #91
Closed with https://github.com/elgentos/masquerade/commit/96335a6c91d475a8a07fccef196aec50b4562169

[2021-12-11 07:09] #91 closed

[2022-01-02 19:09] fliespl opened #92 "Fixing default package version"
Current it default to branch: (20180711.080851) which is from 4 years old, unless you specify right tag.

Think this old branch should be deleted or renamed, so that composer doesn't think it's newest tag.

[2022-01-02 19:45] fliespl opened #93 "tableRanges accepts only integer PK"
Won't work with UUID or string PK like slack identifier (i.e. U0103P9J5ME)

[2022-01-02 20:00] fliespl commented on #93
Just an idea that might be worth checking:

[code]

This also improved selecting ranges when you are using HA setup where ids might not be sequential, cause it will create equal groups.

In your current code, it would select all records at once:
https://ss.codeone.pl/ss-2022-01-02-21-00-06-1641153606-jUDXfXMY.png

Once with above:
https://ss.codeone.pl/ss-2022-01-02-21-00-24-1641153624-PrIxomJi.pn

[2022-01-02 21:17] fliespl opened #94 "Adding config option to specify seed"
Seed is useful to keep data same between multiple runs.

[2022-03-31 04:26] peterjaap commented on #92
That tag is now gone.

[2022-03-31 04:26] #92 closed

[2022-03-31 04:26] peterjaap commented on #93
Cool, I'll welcome a PR!

[2022-03-31 04:26] peterjaap commented on #94
Cool, I'll welcome a PR!

[2022-07-05 15:00] davidwindell opened #96 "Unable to use with Magento 2.4.4 (latest)"
magento/magento2-base 2.4.4 requires symfony/console ~4.4.0

[2022-07-05 15:08] peterjaap commented on #96
You could always use the binary in the meantime :)

[2022-07-05 15:41] davidwindell commented on #96
Good point, I hadn't considered not installing with composer :+1:

[2022-07-06 22:21] davidwindell commented on #96
@peterjaap looks like it works, but there are a number of PHP 8.1 deprecated errors, like:

[code]
etc, etc

Is that expected?

[2022-07-07 14:00] peterjaap commented on #96
Apparently Box needs to updated, so it includes this MR https://github.com/box-project/box/pull/587

[2022-07-07 14:05] peterjaap commented on #96
@davidwindell could you test this build?

[masquerade.zip](https://github.com/elgentos/masquerade/files/9064423/masquerade.zip)

[2022-07-07 16:41] davidwindell commented on #96
@peterjaap thanks, that removes some of the errors, I've just tested the `identify` command and get:

[code]

[2022-07-07 18:11] peterjaap commented on #96
@davidwindell and this one?

[masquerade.zip](https://github.com/elgentos/masquerade/files/9066304/masquerade.zip)

[2022-07-08 10:38] davidwindell commented on #96
@peterjaap that seems pretty good to me, I've only tested the identify command but there aren't any errors on that one now :1st_place_medal:

[2022-07-08 10:51] peterjaap commented on #96
Thanks for testing @davidwindell , I've issued a new release https://github.com/elgentos/masquerade/releases/tag/1.2.0

[2022-07-08 10:51] #96 closed

[2022-07-14 09:21] GautierDig opened #98 "PostgreSQL compatibility"
Hello,

Is Masquerade compatible with PostgreSQL ? I am having many errors:

`SQLSTATE[42704]: Undefined object: 7 ERROR:  unrecognized configuration parameter "foreign_key_checks"`
`SQLSTATE[42704]: Undefined object: 7 ERROR:  unrecognized configuration parameter "sql_mode"`
`SQLSTATE[42703]: Undefined column: 7 ERROR:  column "column_key" does not exist`

[2022-07-14 09:38] peterjaap commented on #98
No idea, but apparently not!

[2022-07-18 20:17] alexhert opened #99 "Run masquerade against a .sql file instead of database"
is it possible to run this agains an mysqldump ? it would be great to masquerade an existing mysql backup instead of changing data on database itself.

[2022-07-19 05:55] peterjaap commented on #99
I agree but I have no clue how to make that happen.

[2022-08-18 13:38] toonvd commented on #99
Another approach could be made possible using https://github.com/ifsnop/mysqldump-php. Another lib ahttps://github.com/heyday/laravel-anonymised-sql-dumps uses it.

[2022-08-18 14:08] toonvd commented on #99
It depends on your requirements indeed, for me, a stream using an anonymous mysqldump would mean a lot less i/o when migrating DBs. I guess this l could be a separate project.

[2022-11-09 21:27] ragusa87 opened #103 "Unable to process a line with a primary key set to zero"
First at all, thanks for this wonderful project.

I am having an issue with a primary key having the zero value
(It's an existing database, don't ask me how it happens)

### How to reproduce
Given the following schema:

[code]

I insert a record with a primary key set to zero:

[code]

If I run the tool with the config below, the entry 0 is not altered:
[code]
Other entry are changed

[2022-11-22 15:19] peterjaap opened #105 "Create Github action to generate phar automatically"